/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    width: 100px;
}

.hero__section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("images/mangopear-manchester.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__title {
    background-color: #fefae0;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 6px;
    text-shadow: 0 0 4px #222;
    
}

.hero__subtitle {
    background-color: #A8DADC;
    width: 80%;
    font-weight: 400;
    border-radius: 6px;
    margin-top: 6px;
    text-shadow: 0 0 4px #222;    
}

/* ativities section */

.activities__section {
    width: 100%;
    position: relative;
    background-color: #fefae0;
    color: #2e2e2e;
    position: relative;
    padding-top: 3px;
}

.activities__title {
 width: fit-content;
 position: relative;
 margin: 16px auto
}

.activitie__img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
}

.activities__item--container {
   padding: 0 10px;
   display: flex;
   justify-content: space-between;
   
}

.activities__items {
    max-width: 400px;
    padding: 5px;
    margin-right: 8px;
}


.activities__items, p {
    line-height: 1.3;
}


/* guide setion */

.guide__section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.guide__content--container {
    display: flex;
    width: fit-content;
    height: 200px;
    background-color: #fefae0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #222;
    
}

.guide__info {
    order: 2;
    width: 200px;
    padding: 5px;
    margin-left: 16px;
    color: #2e2e2e;    
    
}

.myAvator {
    order: 1;
    height: 200px;
    width: 160px;
    border-radius: inherit;
    box-shadow: 0 0 6px #222;
    
}


